<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/manager/public/img/logo.png">

    <link rel="stylesheet" href="/manager/public/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/manager/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/manager/public/css/main.css">

    <script src="/manager/public/js/jquery-3.5.1.min.js"></script>
    <script src="/manager/public/js/popper.min.js"></script>
    <script src="/manager/public/js/bootstrap.min.js"></script>
    
    <title><%= title %> | SCFS</title>
</head>
<body>